.sec1 .r1 {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FE4D28;
    color: #fff;
}

.r1 span {
    margin-right: 10px;
}

.fa-envelope,
.fa-phone {
    margin-right: 10px;
}

.sec1 .icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    outline: 2px solid #fff;
    border-radius: 50px;
    background: #ffffff43;
    outline: none;

}

.r2 {
    border-bottom: 2px solid black;
}

.c4 {
    font-weight: 700;
    font-size: 20px;
    padding-left: 8em;
}

.c4 span {
    color: #FE4D28;
}

.c5 button {
    margin-right: 10px;
}

.r2 {
    padding: 18px;
}

.c5 button:nth-child(1) {
    color: #FE4D28;

}

.c5 button:nth-child(1),
.c5 button:nth-child(2),
.c5 button:nth-child(3),
.c5 button:nth-child(4),
.c5 button:nth-child(5),
.c5 button:nth-child(6),
.c5 button:nth-child(7) {
    border: unset;
    background: unset;
    font-weight: 500;
}

.c5 button:nth-child(8) {
    background: #FE4D28;
    color: #fff;
    border: unset;
    padding: 6px;
    border-radius: 5px;
}

.c5 button:hover {
    background: #FE4D28;
    color: #fff;
    border: unset;
    padding: 6px;
    border-radius: 5px;
}






.r3 {
    background: url(../images/medium-shot-people-working-desk.jpg);
    background-size: cover;
    color: #fff;
}

.r3 .img {
    background: rgba(0, 0, 0, 0.518);
    height: 100vh;
}

.r3 .img {
    display: flex;
    align-items: center;
    justify-content: center;

}

.r3 .img .row {
    width: 100%;
}

.r3 .cc {
    display: flex;
    justify-content: center;
}

.r3 .cc2 {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.r3 .txt1 {
    font-size: 20px;
}

.r3 .txt2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    margin: 10px 0;
}

.r3 .txt3 {
    font-size: 20px;
    background-color: #FE4D28;
    color: #fff;
    border-color: #FE4D28;
    padding: 10px 20px;
    margin-right: 10px;
    width: 192px;
}

.r3 .txt4 {
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border-color: #ffffff;
    padding: 10px 20px;
    width: 192px;
}

.nextcc {
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid #fff
}

.icons1 {
    width: 100px;
    height: 100px;
    outline: 2px solid black;
    border-radius: 51% 49% 71% 29% / 51% 48% 52% 49%;
    padding: 30px;
    background: #FE4D28;
    outline: none;
    margin-right: 10px;

}

.fa-search,
.fa-camera,
.fa-microphone {
    font-size: 40px;
    color: #fff;
}

.myflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}


.myflex .dm {
    font-size: 24px;
    font-weight: 700;
}


.photo {
    --w: 400px;
    width: var(--w);
    height: var(--w);
    background-color: gray;
    border-radius: 54% 46% 46% 54% / 50% 37% 63% 50%;
    background: url(../images/happy-co-workers-close-window.jpg);
    background-size: cover;
    background-position: right;
    box-shadow: -15px 10px 0 #FE4D28;
    margin: auto;
}

.photo:hover {
    filter: grayscale();
}


.r4 {
    padding: 100px 200px;
}

.r5 {
    background-image: url(../images/medium-shot-people-working-desk.jpg);
    background-size: cover;
    background-position: center;
}

.r5 .row {
    background-color: #fe4c28c9;
    padding: 50px 200px;
}

.numbers {
    font-size: 44px;
    font-weight: 800;
    color: #fff;

}

.r5 .txt3 {
    color: #fff;
    font-size: 20px;
}



.r6 .txt4 {
    color: #FE4D28;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.r6 .txt5 {
    font-size: 30px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.r6 .txt6 {

    color: gray;
    padding: 20px 500px;
}


.r6 {
    padding: 70px;
}

.r6a {
    width: 50%;
}

.box1 {
    outline: 2px solid black;
    padding: 30px 20px;
    margin-top: 20px;
    box-shadow: 2px 4px 6px #0000003b;
    outline: none;
    text-align: center;

}



.icon1 {
    outline: 2px solid #FE4D28;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FE4D28;
    color: #fff;
    font-size: 54px;
    border-radius: 51% 49% 71% 29% / 51% 48% 52% 49%;
    margin: auto;
}

.box1:hover {
    background-color: #FE4D28;
    color: #fff;
    transition: all .3s;
}

.box1:hover .icon1 {
    background-color: #fff;
    transition: all .3s;
    color: #FE4D28;
}

.heading {
    font-size: 24px;
    font-weight: 900;
    margin-top: 10px;
}

.r7 {
    text-align: center;
}

.r7 .txt1 {
    color: #FE4D28;
    font-weight: 700;
}

.r7 .txt2 {
    font-weight: 900;
    font-size: 2em;
}

.r7 .txt3 {
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}

.r7 .img1 {
    background: url(../images/businesswoman-posing.jpg);

}

.r7 .img2 {
    background: url(../images/happy-co-workers-close-window.jpg);
    background-position: center
}

.r7 .img3 {
    background: url(../images/medium-shot-people-working-desk.jpg);
    background-position: right;
}

.r7 .imgcc {
    width: 100%;
    height: 400px;
    background-size: cover;
}

.r7 .cc {
    position: relative;
}

.r7 .consult {
    position: absolute;
    bottom: 0;
    padding: 1em;
    color: #fff;
    font-weight: 900;
    font-size: 1.5em;

}

.r7 .consult .line {
    width: 50px;
    height: 4px;
    background-color: #FE4D28;
    display: inline-block;
    margin-right: 10px;
}

.r7 .consult .wd {
    font-weight: 200;
    font-size: 1em;
    display: flex;
    align-items: center;
}

.r7 .dots {
    width: 150px;
    height: 10px;

    margin: 10px auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.r7 .dots div {
    width: 10px;
    height: 100%;
    background-color: gray;
    border-radius: 50%;
}

.r7 .dots div:nth-child(4) {

    background-color: #FE4D28;
}

.r7 {
    background: rgba(128, 128, 128, 0.084);
    padding: 50px;
}

.r8 {
    text-align: center;
    padding: 70px;

}

.r8 .txt1 {
    color: #FE4D28;
    font-size: 20px;
}

.r8 .txt2 {
    font-size: 30px;
    font-weight: 700;
}

.r8 .txt3 {
    width: 70%;
    margin: auto;
}

.r8 .imgc {

    height: 300px;
    margin-top: 50px;
}

.r8 .img1 {
    background: url(../images/young-successful-businessman-formal-wear-showing-thumb-up-gesture.jpg);
    background-size: cover;
    background-position: center;
}

.r8 .img2 {
    background: url(../images/business-man-curly-cute-handsome-guy-black-suit-red-tie-smiling-pointing-left.jpg);
    background-size: cover;
    background-position: center;
}

.r8 .img3 {
    background: url(../images/young-handsome-business-man-with-laptop-office.jpg);
    background-size: cover;
    background-position: center;
}

.r8 .txt4 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;


}


.r8 .img1:hover,
.r8 .img2:hover,
.r8 .img3:hover {
    filter: drop-shadow(8px 8px 10px gray);
}



.r8 .post {
    color: gray;
}

.r9 {
    text-align: center;


}

.r9 .row {
    background: #101024dd;
    padding: 100px 0;
}

.r9 {
    background: url(../images/medium-shot-people-working-desk.jpg);
    background-size: cover;
    background-position: center;
}

.r9 .pic {
    width: 100px;
    height: 100px;
    background: url(../images/businesswoman-posing.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 30px auto;

}

.r9 .txt5 {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}

.r9 .post {
    font-size: 20px;
    color: #FE4D28;
}

.r9 .txt6 {
    color: #fff;
    font-size: 18px;
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

.r9 .cc1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.r9 .ico {
    color: #FE4D28;
    display: inline-block;
    margin-right: 5px;
    margin-top: 30px;
}

.r9 .icon {

    display: inline;
    color: #fff;
    margin-right: 10px;
    margin-top: 20px;

}

.r9 .icon:nth-child(1) {
    color: #FE4D28;
}

.r10 {
    text-align: center;
    padding: 50px 100px;
}

.r10 .txt1 {
    color: #FE4D28;
    font-size: 18px;
}

.r10 .txt2 {
    font-size: 40px;
    font-weight: 800;
}

.r10 .w-50 {
    color: gray;
}

.r10 .box {
    position: relative;
    font-family: sans-serif;
    box-shadow: 2px 4px 6px #00000089;
}

.r10 .img1 {
    height: 300px;
    background-image: url(../images/bussiness-people-working-team-office.jpg);
    background-size: cover;
    background-position: center;
}

.r10 .img2 {
    height: 300px;
    background-image: url(../images/businesswoman-posing.jpg);
    background-size: cover;
    background-position: center -30px;
}

.r10 .img3 {
    height: 300px;
    background-image: url(../images/medium-shot-people-working-desk.jpg);
    background-size: cover;
    background-position: center;
}

.r10 .box .txt1 {
    background-color: #FE4D28;
    font-size: 20px;
    color: #fff;
    width: max-content;
    padding: .2em 1em;
    border-radius: 1em;
    position: absolute;
    font-weight: 700;

    top: 20px;
    left: 20px;

}

.r10 .box .txt2 {
    font-size: 18px;
    color: #FE4D28;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 1em;
}

.r10 .box .txt3 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 1em;
}

.r10 .box .txt4 {
    color: gray;
}

.r10 .boxa {
    padding: 20px;
    text-align: start;
}

.r11 {
    text-align: center;

}

.r11 {

    background: url(../images/medium-shot-people-working-desk.jpg);
    background-size: cover;
    background-position: center;
}

.r11 .row {
    background: #101024dd;
    padding: 80px 0;

}

.r11 .txt1 {
    font-size: 34px;
    font-weight: 700;
    color: #fff;

}

.r11 span {
    color: #FE4D28;
}

.r11 .txt2 {
    color: #ffffff94;
    width: 60%;
    margin: auto;
    margin-top: 10px;
}

.r11 .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: #fff;
    width: 50px;
    height: 50px;
    outline: 2px solid #fff;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.148);
    outline: none;
    margin-top: 20px;
}

.r11 .text {
    display: inline-flex;
    color: #fff;
    margin-right: 20px;
    text-decoration: underline;
    margin-top: 10px;
}

.r11 .line {

    outline: 1px solid;
    color: #ffffff2a;
    margin-top: 60px;
}


@media (max-width:720px) {
    .r4 {
        padding: 50px 20px;
    }

    .r10 {
        padding: 30px 10px;
    }

    .r8 {
        padding: 30px 10px;
    }

    .r7 .imgcc {
        margin-bottom: 20px;
    }

    .r6 {
        padding: 30px 10px;
    }

    .r6a {
        width: unset;
    }

    .r5 .row {
        padding: 50px;
    }

    .r3 {
        background-position: -534px center;
    }

    .r3 .row {
        flex-direction: column;
    }

    .r3 .nextcc {
        display: none;
    }

    .r3 .txt2 {
        font-size: 35px;
        line-height: 40px;
        width: 217px;
    }

    .r3 .txt3 {
        margin-bottom: 10px;
    }

    .sec1 .r1 {
        flex-direction: column;
    }

    .sec1 .r1 .c1 {
        margin-bottom: 15px;
    }


    .photo {
        --w: 280px;
    }

    .r7 {
        padding: 0px;
    }

}